chromadb
sentence-transformers 
pandas
python-dotenv 
tqdm
langchain_mistralai
langchain_core
numpy
ipywidgets
scikit-learn 
joblib 
xgboost
mistralai
mistralai.models
openai
fastapi
fastapi.middleware.cors
app.api